@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  /* Make the footer stick to the bottom */
  display: flex;
  flex-direction: column; 
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  /* Remove list bullets from ul */
    list-style-type: none;   

  /* Remove default margin/padding that ul has */
    margin: 0; 
    padding: 0; 

  /*.left-links, .right-links */
    display: flex; 
    gap: 16px;
}

a:link, a:visited  {
  text-decoration: none;
  color: hsl(0, 0%, 15%);
}


a:hover, a:active {
  text-decoration: underline;
  color: hsl(0, 0%, 40%);
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px; 
}

.footer {
  background: #eeeeee;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* flex: 1; equivalent to flex: 1 1 0
 - Make flex items grow evenly (logo, input, button)
 - Make the footer stick to the bottom
 - Create space between the logo, input, buttons
 - Make each item grow to fill the available space
*/
  flex: 1;
} 